:root {
  /* colors */
  --yellow: #e6e6e6;
  --blue: #cf8a8a;

  /* other properties */
  --font-weight-h: 700;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--yellow);
  font-family: "Bebas Neue", cursive;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
}

h1 {
  color: var(--blue);
  font-size: 50px;
  font-weight: var(--font-weight-h);
  margin: 0;
  padding-left: 10px;
}


button:hover {
  background-position: -20px -20px;
}

button:focus:not(:active) {
  box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 0.125em;
}

.pokemon-list {
justify-content: space-between;
display: flex;
  }
  
.list-group-item {
  padding: 0px;
  margin: 5px 10px;
}

.pokemon-button {
  padding: 10px;
  font-size: 1.2rem;
  background-color: rgb(86, 141, 74);
  border-radius: 5px;
  margin: 10px;
  width: 200px;
  transition: 0.4s background-color;
  color:
   rgb(255, 255, 255);
}


.pokemon-button:hover {
  background-color: rgb(230, 77, 17);
  cursor: pointer;
}

.modal-content {
  background-color: rgb(255, 255, 255);
  text-align: center;
}