:root {
  /* colors */
  --yellow: #30928a;
  --blue: #cf8a8a;

  /* other properties */
  --font-weight-h: 700;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--yellow);
  font-family: "Bebas Neue", cursive;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
}

h1 {
  color: var(--blue);
  font-size: 50px;
  font-weight: var(--font-weight-h);
  margin: 0;
  padding-left: 10px;
}

button {
  align-items: center;
  appearance: none;
  background-color: --blue;
  background-image: linear-gradient(1deg, #3b3cc4, #149bf3 99%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 200px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: CircularStd, sans-serif;
  font-size: 1rem;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 30px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s, background-position 0.2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

button:active,
button:focus {
  outline: none;
}

button:hover {
  background-position: -20px -20px;
}

button:focus:not(:active) {
  box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 0.125em;
}

.pokemon-list {
justify-content: space-between;
  }
  
.list-group-item {
  padding: 0px;
  margin: 5px 10px;
}
